<a href="https://colab.research.google.com/github/githubashmit/week2-Python-CipherSchools/blob/main/class14-Tuples_Dictionaries-CipherSchools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=[1,2,3]
a[0]=100
a[2]=200
a

[100, 2, 200]

In [2]:
a=(1,2,3,4,5,6)
type(a)

tuple

In [3]:
a[0]=10
a

TypeError: ignored

In [4]:
def func(*args):
  print(type(args))
func(1,2,3)

<class 'tuple'>

In [5]:
a=5
b=9
a,b=b,a
c=a,b
type(c)

tuple

In [9]:
def add_sum(a,b):
  s=a+b
  d=a-b
  return s,d
c=add_sum(10,5)
print(type(c))
print(c)
s,d=add_sum(10,5)
print(s,d)

<class 'tuple'>
(15, 5)
15 5

In [8]:
a=1,2,3,4
type(a)

tuple

In [10]:
#@title List to tuple and tuple to list
a=(1,2,3,4)
list(a)

[1, 2, 3, 4]

In [11]:
list(range(5))

[0, 1, 2, 3, 4]

In [12]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [ ]:
#@title Return multiple values from functions(The returned thing is a tuple!)

In [17]:
a=(1,2,3,4,5,6)
a=[1,2,3,4]
a.append(4)
a.append(3)
print(a)

[1, 2, 3, 4, 4, 3]

In [ ]:
#@title Dictionary
'''py [1,2,3,4] here we cannot change index number a[0]'''
'''a=dict()
a["name"]
a[1]
a[(1,2)]'''

In [22]:
a={
    "name":"Jatin Katyal",
    1:"something",
   (1,2):"tuple key wat?"
}
a['name']

'Jatin Katyal'

In [21]:
a[1]

'something'

In [23]:
a[(1,2)]

'tuple key wat?'

In [24]:
a={
    [1,2]:"something"
}

TypeError: ignored

In [ ]:
#@title Some impotant dict method
# . get()
# . items()
# . keys()
# . values()
# . clear()

In [30]:
c={
    "n" :"Jatin Katyal"
}
c["n"]="Gourav"
print(c)

{'n': 'Gourav'}

In [34]:
 d={
     "n":"jatin",
     "Company":"shuttl",
     "College":"IPU"
 }
d['College']

'IPU'

In [36]:
d["Company"]

'shuttl'

In [37]:
d["marks"]

KeyError: ignored

In [38]:
key="marks"
if key in d:
  print(d[key])
else:
  print("key doesn't exist")

key doesn't exist

In [40]:
key="marks"
print(a.get(key))

None

In [42]:
key="marks"
print(a.get(key,"key doesn't exist"))

key doesn't exist

In [43]:
key="n"
print(a.get(key,"key doesn't exist"))

key doesn't exist

In [44]:
d.keys()

dict_keys(['n', 'Company', 'College'])

In [45]:
d.values()

dict_values(['jatin', 'shuttl', 'IPU'])

In [46]:
for x in d.items():
  print(x)

('n', 'jatin')
('Company', 'shuttl')
('College', 'IPU')

In [47]:
for x,value in d.items():
  print(x,"->",value)

n -> jatin
Company -> shuttl
College -> IPU

In [48]:
d

{'n': 'jatin', 'Company': 'shuttl', 'College': 'IPU'}

In [52]:
"n" in d

True

In [49]:
for x in d:
  print(x)

n
Company
College

In [51]:
list(d)

['n', 'Company', 'College']

In [ ]:
# Challenge
# Write a simple program which inputs and store the data about university students as a list of dictionaries. your final record structure should look like this:
# [
#     {
#         'roll-no':1211,
#      'name':'Ravi'
#      'branch':'cse'
#     }
#     {
#         'roll-no':202,
#      'name':'Abhishek'
#      'branch':'SE'
#     }
#     {
#         'roll-no':1202,
#      'name':'Sachin'
#      'branch':'IT'
#     }
# ]

In [55]:
students = []  # create an empty list to store student records

num_students = int(input("Enter the number of students: "))

# input and store student records
for i in range(num_students):
    # create an empty dictionary to store student information
    student = {}
    
    # input and store student information
    student['roll-no'] = input("Enter student roll-no.: ")
    student['name'] = input("Enter student name: ")
    student['branch'] = input("Enter student branch: ")
    
    # append student dictionary to the list of students
    students.append(student)
    
# print student records
for student in students:
    print(f"roll-no: {student['roll-no']}")
    print(f"name: {student['name']}")
    print(f"branch: {student['branch']}")

Enter the number of students: 2
Enter student roll-no.: 45
Enter student name: ggf
Enter student branch: gf
Enter student roll-no.: 65
Enter student name: fgf
Enter student branch: fgf
roll-no: 45
name: ggf
branch: gf
roll-no: 65
name: fgf
branch: fgf